# Tab will show all completions instead of blocking just like in Zsh.
set show-all-if-ambiguous on

# I'm not gonna lie, I've tested this and it doesn't seem to change anything. I
# have it on because I am a cargo culter.
set skip-completed-text on

# Keep history clean.
set revert-all-at-newline on

# Other stuff for completions.
set completion-ignore-case on
set mark-directories on
set match-hidden-files off
set mark-symlinked-directories on

# Extremely important for safety in copy-pasting commands.
set enable-bracketed-paste on

# Misc.
set bell-style none
set keyseq-timeout 100

TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-s": nop
