snippet copyright "Copyright header" b
	# Copyright © `strftime('%Y')` Aman Verma <https://aman.raoverma.com/contact.html>
	# Distributed under the ${1} license, see ${2:LICENSE.md} file for details.
